*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    
    --white: #FFF;
    --black: #000;

    --dark-900: #101026;
    --dark-700: #1d1d2e;

    --gray-100: #8a8a8a;
    --green-900: #3fffa3;
    --red-900: #ff4c4c;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-rendering: inherit;
}

body, input, textarea, select, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

body{
    background-color: var(--dark-700);
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;  //14px
    }
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%; //15px
    }
}